<div class="row" style="margin-left: 1px; margin-top:10px; height: 50px;">
  <div class="col-md-6" style="margin-bottom: 10px;">
    <span style="font-size: 30px;font-weight: bold;">{{app}}</span>
  </div>
  <div class="col-md-6">
    <button class="btn btn-outline-primary" style="float: right; margin-right: 10px;" ng-disabled="!macInputModel" ng-click="addNewRoutes()">
      <i class="fa fa-plus"></i>&nbsp;&nbsp;新增路由</button>
  </div>
</div>

<div class="separator"></div>

<div class="container-fluid">
  <div class="row" style="margin-top: 20px; margin-bottom: 20px;">
    <div class="col-md-12">
      <div class="card">
        <div class="inputs-header">
          <span class="brand" style="font-size: 13px;">路由管理</span>
          <button class="btn btn-primary" style="float: right; margin-right: 10px; height: 30px;font-size: 12px;" ng-click="getMachineRoutes()">刷新</button>
          <input class="form-control witdh-200" placeholder="关键字" ng-model="searchKey">
          <div class="control-group" style="float:right;margin-right: 10px;margin-bottom: -10px;">
            <selectize id="gsInput" class="selectize-input-200" config="macsInputConfig" options="macsInputOptions" ng-model="macInputModel"
              placeholder="机器"></selectize>
          </div>
        </div>

        <!--.tools-header -->
        <div class="card-body" style="padding: 0 0;">
          <table class="table" style="border-left: none; border-right:none;margin-top: 10px;">
            <thead>
              <tr style="background: #F3F5F7;">
                <td>
                  路由 ID
                </td>
                <td>
                  目标地址
                </td>
                <td>
                  匹配规则
                </td>
<!--                <td>-->
<!--                  过滤规则-->
<!--                </td>-->
                <td>
                  操作
                </td>
              </tr>
            </thead>

            <tbody>
              <tr dir-paginate="route in routes | filter: searchKey | itemsPerPage: routesPageConfig.pageSize " current-page="routesPageConfig.currentPageIndex"
                  pagination-id="entriesPagination">
                <td>{{route.id}}</td>
                <td>{{route.uri}}</td>
                <td>{{route.predicates[0].value}}</td>
<!--                <td>{{route.filter[0].value}}</td>-->
                <td>
                  <button class="btn btn-xs btn-outline-primary" type="button" ng-click="editRoutes(route)" style="font-size: 12px; height:25px;">编辑</button>
                  <button class="btn btn-xs btn-outline-danger" type="button" ng-click="deleteRoutes(route)" style="font-size: 12px; height:25px;">删除</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- .card-body -->
        <div class="pagination-footer">
          <dir-pagination-controls boundary-links="true" template-url="app/views/pagination.tpl.html" pagination-id="entriesPagination"
            on-page-change="">
          </dir-pagination-controls>
          <div class="tools" style="">
            <span>共 {{rulesPageConfig.totalCount}} 条记录, </span>
            <span>
              每页
              <input class="form-control" ng-model="rulesPageConfig.pageSize"> 条记录
            </span>
            <!--<span>第 {{apisPageConfig.currentPageIndex}} / {{apisPageConfig.totalPage}} 页</span>-->
          </div>
          <!-- .tools -->
        </div>
        <!-- pagination-footer -->
      </div>
      <!-- .card -->
    </div>
    <!-- .col-md-12 -->
  </div>
  <!-- -->
</div>
<!-- .container-fluid -->
